<div class="registration-container">
    <div class="comments-header">
      <h2>Login</h2>
    </div>
  
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="registration-form">
      <p *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </p>
  
      <!-- Username -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        required
        email
        ngModel
        #email="ngModel"
          [class.is-invalid]="email.invalid && email.touched"
        />
        <div *ngIf="email.invalid && email.touched" class="error">
          <small *ngIf="email.errors?.['required']">Username is required.</small>
          <small *ngIf="email.errors?.['minlength']">Minimum 4 characters required.</small>
          <small *ngIf="email.errors?.['maxlength']">Maximum 20 characters allowed.</small>
        </div>
      </div>
  
      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          required
          minlength="4"
          maxlength="20"
          ngModel
          #password="ngModel"
          [class.is-invalid]="password.invalid && password.touched"
        />
        <div *ngIf="password.invalid && password.touched" class="error">
          <small *ngIf="password.errors?.['required']">Password is required.</small>
          <small *ngIf="password.errors?.['minlength']">Minimum 4 characters required.</small>
          <small *ngIf="password.errors?.['maxlength']">Maximum 20 characters allowed.</small>
        </div>
      </div>
  
      <!-- Submit Button -->
      <div class="form-actions">
        <button
          type="submit"
          class="btn btn-add"
          [disabled]="loginForm.invalid">
          Login
        </button>
      </div>
    </form>
  </div>
  