<div class="wrapper">
    <section>
      <h1 class="border-bottom mb-5">Comments</h1>
      <div>
        <form #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm)">
            <input type="hidden" name="id" [(ngModel)]="comment.id">
          <div class="form-group">
            <h4>Your opinion is important to us!</h4>
            <label for="commentText">Message</label>
            <textarea
              id="commentText"
              name="commentText"
              class="form-control"
              [(ngModel)]="comment.commentText"
              minlength="10"
              required
            ></textarea>
            <div *ngIf="commentForm.controls['commentText'].invalid && commentForm.controls['commentText'].touched">
              <small *ngIf="commentForm.controls['commentText'].errors?.['required']" class="invalid-feedback bg-danger text-light rounded">
                Comment text is required.
              </small>
              <small *ngIf="commentForm.controls['commentText'].errors?.['minlength']" class="invalid-feedback bg-danger text-light rounded">
                Comment must be at least 10 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-link nav-link" id="postComment" value="Post Comment" [disabled]="commentForm.invalid" />
          </div>
        </form>
      </div>
    </section>
  </div>
  